/* Reset some default styles for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply styles to the HTML and body elements */
html, body {
    height: 100%;
    user-select: none; /* Disable text selection */
    pointer-events: visible; /* Enable pointer events */
}

/* Styling for the entire page body */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(58, 129, 0); /* Background color */
    color: #fff; /* Text color */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Hide content overflow */
}

/* Styling for the "SCORE" element */
.score {
    font-size: 4m; /* Font size */
    margin-bottom: .5em; /* Margin below the score */
}

/* Styling for the game board */
.board {
    height: 600px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 80px; /* Gap between holes */
}

/* Styling for the individual holes */
.hole {
    background-color: rgb(165, 85, 11); /* Background color */
    border-radius: 50%; /* Rounded shape */
    box-shadow: inset 0 10px 0px 7px rgb(53, 21, 6),
                inset 0 20px 20px 15px rgba(0, 0, 0, .3),
                0 0 5px rgba(0, 0, 0, .5); /* Box shadow */
    position: relative;
    overflow: hidden;
}

/* Styling for the "kiwi" element within a hole */
.hole .kiwi {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    animation: rise .3s ease-out; /* Animation for the kiwi */
    user-select: none !important; /* Disable text selection */
}

/* Keyframes animation for the kiwi rising */
@keyframes rise {
    0% {
        transform: translateX(-50%) translateY(100%);
    }
    100% {
        transform: translateX(-50%) translateY(0%);
    }
}

/* Styling for the cursor element */
.cursor {
    height: 320px; /* Adjust the cursor size as needed */
    width: 320px; /* Adjust the cursor size as needed */
    position: absolute;
    top: 100px;
    left: 100px;
    background-image: url(assets/Untitled-1.png);
    background-size: 100% 100%;
    transform: translate(-34%, -40%);
    transition: transform .1s;
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    cursor: pointer;
}

/* Styling for the active cursor state */
.cursor.active {
    transform: translate(-9%, -40%) rotate(-45deg); /* Transformation for an active cursor */
}
/* CSS styles for the "Play Again" button */
.reset-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */

    /* Hover effect */
    &:hover {
        background-color: #2980b9;
    }

    /* Active (click) effect */
    &:active {
        background-color: #2070a0;
    }
}

